[submodule "glim"]
	path = glim
	url = https://github.com/giacomotambe/glim.git
[submodule "glim_ros2"]
	path = glim_ros2
	url = https://github.com/giacomotambe/glim_ros2.git
[submodule "jo_description"]
	path = jo_description
	url = https://github.com/ducciopet/jo_description.git
[submodule "jo_navigation"]
	path = jo_navigation
	url = https://github.com/ducciopet/jo_navigation.git
[submodule "onboard_detector"]
	path = onboard_detector
	url = https://github.com/ducciopet/Docker_LV-DOT_Jazzy.git
	branch = pkg/onboard_detector
